<div class="padding-container justify-content-center">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Reservas realizadas ({{reservas.length}})</h3>
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr style="text-align: center;">
            <th>Cancha</th>
            <th>Código</th>
            <th>Dirección</th>
            <th>Cliente</th>
            <th>Cédula</th>
            <th>Fecha inicio reserva</th>
            <th>Fecha finalización reserva</th>
            <th>Valor a pagar</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reserva of reservas" style="text-align: center;">
            <td>{{reserva.cancha.nombre}}</td>
            <td>{{reserva.cancha.codigo}}</td>
            <td>{{reserva.cancha.direccion}}</td>
            <td>{{reserva.cliente.nombre}}</td>
            <td>{{reserva.cliente.cedula}}</td>
            <td>{{reserva.fechaInicioReserva}}</td>
            <td>{{reserva.fechaFinReserva}}</td>
            <td>{{reserva.valorPago | currency}}</td>
            <td>
              <button class="btn btn-danger" (click)="confirmar(reserva.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
