<div class="padding-container justify-content-center">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Canchas registradas ({{canchas.length}})</h3>
        <table class="table table-hover text-center">
          <thead class="thead-dark">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Tipo de Cancha</th>
            <th>Precio por reserva</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cancha of canchas">
            <td>{{cancha.codigo}}</td>
            <td>{{cancha.nombre}}</td>
            <td>{{cancha.direccion}}</td>
            <td>{{cancha.telefono}}</td>
            <td>{{cancha.tipoCancha | tipoCancha}}</td>
            <td>{{cancha.precioReserva | currency}}</td>
            <td>
              <button class="btn btn-primary" (click)="actualizarCancha(cancha)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
