<div class="header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">ADN CEIBA - RESERVAS
        CANCHAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false" routerLinkActive="active">Reservas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/reservas/agregar']">Realizar reserva</a>
              <a class="dropdown-item" [routerLink]="['/reservas']">Ver registros</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false" routerLinkActive="active">Canchas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/canchas/agregar']">Registrar cancha</a>
              <a class="dropdown-item" [routerLink]="['/canchas']">Ver registros</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false" routerLinkActive="active">Clientes</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/clientes/agregar']">Registrar cliente</a>
              <a class="dropdown-item" [routerLink]="['/clientes']">Ver registros</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
