@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.pointer {
  cursor: pointer;
}

.form-control-feedback {
  color: red;
  font-size: 1em;
}

.text-center {
  text-align: center;
}
