<div class="row">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registrar nueva cancha</h4>
        <form class="form p-t-20" [formGroup]="formulariCancha" (ngSubmit)="agregarCancha()" #ngForm="ngForm">

          <div class="row">
            <div class="col">
              <label for="codigo">Código:</label>
              <input formControlName="codigo" name="codigo" id="codigo" type="text" class="form-control" required>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'codigo', ngForm).hayErrores">
                Debe ingresar un código
              </div>
            </div>

            <div class="col">
              <label for="nombre">Nombre:</label>
              <input formControlName="nombre" name="nombre" id="nombre" type="text" class="form-control" required>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'nombre', ngForm).hayErrores">
                Debe ingresar un nombre
              </div>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <label for="direccion">Dirección:</label>
              <input formControlName="direccion" name="direccion" id="direccion" type="text" class="form-control"
                     required>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'direccion', ngForm).hayErrores">
                Debe ingresar una dirección
              </div>
            </div>

            <div class="col">
              <label for="nombre">Teléfono / Celular:</label>
              <input formControlName="telefono" name="telefono" id="telefono" type="number" class="form-control"
                     required>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'telefono', ngForm).hayErrores">
                Debe ingresar un número de teléfono o celular
              </div>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col">
              <label for="tipoCancha">Tipo de cancha:</label>
              <select class="form-control" formControlName="tipoCancha" id="tipoCancha" ngModel="">
                <option value="" selected disabled>Seleccione un tipo</option>
                <option value="FUTBOL_CINCO">Fútbol Cinco</option>
                <option value="FUTBOL_SEIS">Fútbol Seis</option>
                <option value="FUTBOL_SIETE">Fútbol Siete</option>
                <option value="FUTBOL_OCHO">Fútbol Ocho</option>
                <option value="FUTBOL_NUEVE">Fútbol Nueve</option>
                <option value="FUTBOL_DIEZ">Fútbol Diez</option>
                <option value="FUTBOL_ONCE">Fútbol Once</option>
              </select>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'tipoCancha', ngForm).hayErrores">
                Debe elegir un tipo de cancha
              </div>
            </div>

            <div class="col">
              <label for="precioReserva">Precio a cobrar por reservar:</label>
              <input formControlName="precioReserva" name="precioReserva" id="precioReserva" type="number"
                     class="form-control" required>
              <div class="form-control-feedback"
                   *ngIf="erroresService.errores(formulariCancha, 'precioReserva', ngForm).hayErrores">
                Debe definir un precio a cobrar por reservar
              </div>
            </div>
          </div>

          <br>

          <button type="button" class="btn btn-danger mr-2" (click)="regresar()">
            <i class="fa fa-undo"></i> Regresar
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Registrar
          </button>

        </form>
      </div>
    </div>
  </div>

</div>


